meta content="авто из США, авто из америки, автомобили из америки, копарт, манхейм, iaai, машины из америки, машины из США, rubycon, рубикон." name="Keywords" /
meta content="Купим для вас авто на аукционах америки: копарт, манхейм, iaai, и доставим под ключ в ваш город. Полное документальное сопровождение от компании Rubycon Logistic." name="description" /

= render partial: 'header'
= render partial: 'about'
= render partial: 'shared/instagram'
= render partial: 'services'
= render partial: 'contact_form'
/ = render partial: 'portfolio'
/ = render partial: 'home_car_modals'
= render partial: 'countdown_popup'
