<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новый запрос на контакт с usacar-rubycon.com </h1>
    <p>
      Имя = <%= @name %>
    </p>
    <p>
      Email = <%= @email %>
    </p>
    <p>
      Номер телефона = <%= @phone %>
    </p>
    <p>
      Сообщение = <%= @message %>
    </p>
    <p>
  </body>
</html>
